* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(33, 92, 255);
}

.monster {
  position: relative;
  height: 200px;
  width: 220px;
  // background-color: antiquewhite;
  &:hover{
    animation: roll 1s infinite ;
  }
  .ear {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -20px 0px 0px darkolivegreen;
    background-color: transparent;
    position: absolute;
  }
  .ear-left {
    top: -18px;
    left: 20px;
    transform: rotate(-50deg);
  }
  .ear-right {
    top: -25px;
    right: 20px;
    transform: rotate(245deg);
  }

  .body {
    width: 200px;
    height: 220px;
    background-color: #82D900;
    border-radius: 60% 60% 60% 60%/60% 60% 40% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .eye {
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .eyeball {
      width: 60%;
      height: 60%;
      background-color: black;
      border-radius: 50%;
      position: relative;
      animation: look-around 1s infinite;
      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        height: 20%;
        width: 20%;
        border-radius: 50%;
        background: white;
      }
    }
  }
}

.loading {
  margin-top: 50px;
  // background-color: antiquewhite;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
  &::before {
    color: white;
    content:"Loading..."
  }
}

@keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}

@keyframes look-around {
  0% {
  transform: translate(0);
  }
  10% {
  transform: translate(35%, 0);
  }
  20% {
    top: 0;
  transform: translate(35%, -10%);
  }
  30% {
  transform: translate(-25%, -25%);
  }
  40% {
  transform: translate(-25%, -5%);
  }
  50% {
  transform: translate(0, 0);
  }
  100% {
  transform: translate(0, 0);
  }
}

@keyframes roll {
  25% {
    top: 0;
    transform: rotate(90deg);
  }
  50% {
    top: -50px;
    transform: rotate(180deg);
  }
  75% {
    top: -50px;
    transform: rotate(270deg);
  }
  100% {
    top: 0;
    transform: rotate(360deg);
  }
}